@mixin flex_parent(
  $justifyContent,
  $flexWrap: wrap,
  $alignItems: stretch,
  $direction: row
) {
  display: flex;
  justify-content: $justifyContent;
  flex-wrap: $flexWrap;
  align-items: $alignItems;
  flex-direction: $direction;
}

@mixin text_properties($size, $color, $weight: normal, $transform: none) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  text-transform: $transform;
}

@mixin element_size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin change_button_color($color) {
  background: $color;
  border: 1px solid $color;
}
