$background-color: #fff;
$main-color: #d68f5e;
$card-color: #eeefea;

$text-color: #333333;
$title-color: #d68f5e;

$title-size: 1.5rem;
$card-title-size: 1.2rem;
$text-size: 1.1rem;

$icon-size: 2.2rem;
$radius-size: 10px;

$title-weigth: 700;

$header-height: 5rem;
$base-spacing: 0.75rem;

$max-width: 1200px;
