@import "../../../styles.scss";

.header {
  @include flex_parent(space-between, wrap, center);
  @extend %border-and-box-shadow;

  background: $background-color;
  height: $header-height;
  padding: $base-spacing;

  &-title {
    @include text_properties(
      $title-size,
      $title-color,
      $title-weigth,
      uppercase
    );

    margin-left: $base-spacing;
  }

  &-menu ul {
    @include flex_parent(flex-end, nowrap);

    a.active i,
    i:hover {
      color: $main-color;
    }

    i {
      @include text_properties($icon-size, $text-color);

      ::ng-deep span.p-badge {
        background: $main-color;
      }
    }

    li {
      margin-right: $base-spacing;
    }
  }
}
