<header class="header" *ngIf="stateCart | async; let cart">
  <a [routerLink]="'/'" routerLinkActive="active"
    ><h1 class="header-title">Élsass Làde</h1></a
  >

  <nav class="header-menu">
    <ul>
      <li *ngFor="let icon of faIcons">
        <a [routerLink]="'/' + icon.route" routerLinkActive="active">
          <i *ngIf="icon.route !== routeName.cart" [class]="icon.icon"></i>

          <i
            *ngIf="icon.route === routeName.cart"
            [class]="icon.icon"
            pBadge
            [value]="cart.length.toString()"
          ></i>
        </a>
      </li>
    </ul>
  </nav>
</header>
